@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", Helvetica, Arial, Sans-serif; }

h2 {
  text-transform: uppercase;
  font-size: 60px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 22px; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(44, 62, 80, 0.7);
  z-index: 1; }

header {
  background: white; }
  header .container {
    margin: 0 auto;
    width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .container .logo {
      width: 100px;
      height: 30px;
      background: red; }
    header .container .navbar nav {
      display: flex;
      flex-direction: row; }
      header .container .navbar nav ul {
        display: flex;
        align-items: center; }
        header .container .navbar nav ul li {
          float: left;
          list-style-type: none;
          margin-left: 30px; }
          header .container .navbar nav ul li a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            color: #5d6e80;
            transition: color ease .2s; }
            header .container .navbar nav ul li a:hover {
              color: #1dd2af; }
      header .container .navbar nav .search img {
        max-height: 40px;
        margin-left: 30px; }
        header .container .navbar nav .search img:hover {
          cursor: pointer; }

#slider-section .slider {
  max-height: 850px;
  overflow: hidden;
  position: relative; }
  #slider-section .slider .slider-arrow {
    z-index: 3;
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all ease .2s; }
    #slider-section .slider .slider-arrow:hover {
      background: #1dd2af;
      cursor: pointer; }
    #slider-section .slider .slider-arrow img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      max-width: 40%;
      max-height: 40%; }
  #slider-section .slider .prev-arrow {
    left: 0; }
    #slider-section .slider .prev-arrow img {
      transform: rotate(180deg); }
  #slider-section .slider .slide {
    z-index: 0; }
    #slider-section .slider .slide .description {
      z-index: 2;
      color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #slider-section .slider .slide .description .slider-buttons {
        display: flex; }
        #slider-section .slider .slide .description .slider-buttons .btn {
          padding: 20px;
          border: 2px solid white;
          display: block;
          border-radius: 5px;
          text-decoration: none;
          color: white;
          font-size: 25px;
          text-transform: uppercase;
          transition: all ease .2s;
          vertical-align: top;
          margin: 40px 15px; }
          #slider-section .slider .slide .description .slider-buttons .btn:hover {
            background: #1dd2af;
            border-color: #1dd2af;
            cursor: pointer; }
  #slider-section .slider .next-arrow {
    right: 0; }
#slider-section .search-slider {
  width: 100%;
  background: #2c3e50;
  display: flex; }
  #slider-section .search-slider .headline-area {
    width: 25%;
    border-right: 1px solid #8293a4;
    padding: 20px; }
    #slider-section .search-slider .headline-area .text {
      float: right;
      margin-right: 40px;
      text-transform: uppercase; }
      #slider-section .search-slider .headline-area .text h5 {
        color: #8293a4; }
      #slider-section .search-slider .headline-area .text h4 {
        color: white; }
  #slider-section .search-slider .input-areas {
    display: flex;
    align-items: center;
    margin-left: 40px; }
    #slider-section .search-slider .input-areas label {
      margin: 0 15px;
      color: #8293a4;
      font-size: 20px;
      font-weight: lighter; }
    #slider-section .search-slider .input-areas input[type="text"] {
      padding: 5px;
      font-size: 20px; }
    #slider-section .search-slider .input-areas input[type="submit"] {
      margin-left: 20px;
      padding: 20px;
      border: 2px solid white;
      display: block;
      border-radius: 0;
      text-decoration: none;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      transition: all ease .2s;
      vertical-align: top;
      display: inline;
      padding: 10px 20px;
      background: #1dd2af;
      border: none; }
      #slider-section .search-slider .input-areas input[type="submit"]:hover {
        background: #1dd2af;
        border-color: #1dd2af;
        cursor: pointer; }
      #slider-section .search-slider .input-areas input[type="submit"]:hover {
        background: #17a58a; }

/*# sourceMappingURL=styles.css.map */
