@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", Helvetica, Arial, Sans-serif;
  overflow-x: hidden; }

img {
  object-fit: cover; }

h2 {
  text-transform: uppercase;
  font-size: 45px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 16px; }

p {
  font-size: 15px; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(44, 62, 80, 0.8);
  z-index: 1; }

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center; }
  .preloader h1 {
    color: #c4f7ed; }

header {
  background: white; }
  header .container {
    margin: 0 auto;
    width: 1300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .container .logo {
      width: 100px;
      height: 30px;
      background: red; }
    header .container .navbar nav {
      display: flex;
      flex-direction: row; }
      header .container .navbar nav ul {
        display: flex;
        align-items: center; }
        header .container .navbar nav ul li {
          float: left;
          list-style-type: none;
          margin-left: 30px; }
          header .container .navbar nav ul li a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bold;
            color: #5d6e80;
            transition: color ease .2s; }
            header .container .navbar nav ul li a:hover {
              color: #1dd2af; }
      header .container .navbar nav .search img {
        max-height: 40px;
        margin-left: 30px; }
        header .container .navbar nav .search img:hover {
          cursor: pointer; }
  @media screen and (max-width: 1400px) {
    header .container {
      width: 100%; }
      header .container .logo, header .container .navbar nav {
        display: none; } }

#slider-section .slider {
  max-height: 850px;
  overflow: hidden;
  position: relative; }
  #slider-section .slider .slider-arrow {
    z-index: 3;
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all ease .2s; }
    #slider-section .slider .slider-arrow:hover {
      background: #1dd2af;
      cursor: pointer; }
    #slider-section .slider .slider-arrow img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      max-width: 40%;
      max-height: 40%; }
  #slider-section .slider .prev-arrow {
    left: 0; }
    #slider-section .slider .prev-arrow img {
      transform: rotate(180deg); }
  #slider-section .slider .slides {
    display: block;
    width: 6000px; }
  #slider-section .slider .slide {
    z-index: 0;
    display: inline-block;
    vertical-align: top;
    margin-left: -4px; }
    #slider-section .slider .slide .description {
      color: white;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2; }
      #slider-section .slider .slide .description h2 {
        text-align: center; }
      #slider-section .slider .slide .description h4 {
        margin-top: 5px;
        font-weight: normal;
        text-align: center; }
      #slider-section .slider .slide .description .slider-buttons {
        display: flex; }
        #slider-section .slider .slide .description .slider-buttons .btn {
          padding: 15px 20px;
          border: 2px solid white;
          display: block;
          border-radius: 5px;
          text-decoration: none;
          color: white;
          font-size: 18px;
          text-transform: uppercase;
          transition: all ease .2s;
          vertical-align: top;
          margin: 40px 15px; }
          #slider-section .slider .slide .description .slider-buttons .btn:hover {
            background: #1dd2af;
            border-color: #1dd2af;
            cursor: pointer; }
  #slider-section .slider .next-arrow {
    right: 0; }
  @media screen and (max-width: 650px) {
    #slider-section .slider .slide .description .slider-buttons {
      flex-direction: column; }
      #slider-section .slider .slide .description .slider-buttons .btn {
        margin: 10px auto; } }
#slider-section .search-slider {
  width: 100%;
  background: #2c3e50;
  display: flex; }
  #slider-section .search-slider .headline-area {
    width: 25%;
    border-right: 1px solid #8293a4;
    padding: 20px; }
    #slider-section .search-slider .headline-area .text {
      float: right;
      margin-right: 40px;
      text-transform: uppercase; }
      #slider-section .search-slider .headline-area .text h5 {
        color: #8293a4; }
      #slider-section .search-slider .headline-area .text h4 {
        color: white; }
  #slider-section .search-slider .input-areas {
    display: flex;
    align-items: center;
    margin-left: 40px; }
    #slider-section .search-slider .input-areas label {
      margin: 0 15px;
      color: #8293a4;
      font-size: 20px;
      font-weight: lighter; }
    #slider-section .search-slider .input-areas input[type="text"] {
      padding: 5px;
      font-size: 18px; }
    #slider-section .search-slider .input-areas input[type="submit"] {
      margin-left: 20px;
      padding: 15px 20px;
      border: 2px solid white;
      display: block;
      border-radius: 0;
      text-decoration: none;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      transition: all ease .2s;
      vertical-align: top;
      display: inline;
      padding: 10px 20px;
      background: #1dd2af;
      border: none; }
      #slider-section .search-slider .input-areas input[type="submit"]:hover {
        background: #1dd2af;
        border-color: #1dd2af;
        cursor: pointer; }
      #slider-section .search-slider .input-areas input[type="submit"]:hover {
        background: #17a58a; }
  @media screen and (max-width: 1130px) {
    #slider-section .search-slider {
      flex-direction: column; }
      #slider-section .search-slider .headline-area {
        border-right: none;
        width: 100%; }
        #slider-section .search-slider .headline-area .text {
          float: none;
          text-align: center;
          margin: 0 auto; }
      #slider-section .search-slider .input-areas {
        margin: 0 auto 30px auto; }
        #slider-section .search-slider .input-areas form {
          margin: 0 auto; } }
  @media screen and (max-width: 830px) {
    #slider-section .search-slider .input-areas {
      width: 100%; }
      #slider-section .search-slider .input-areas form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%; }
        #slider-section .search-slider .input-areas form input[type="text"] {
          width: 80%;
          margin: 10px auto; } }

#specials {
  padding-bottom: 150px; }
  #specials .description {
    text-align: center;
    margin: 60px auto 50px auto; }
    #specials .description h4 {
      text-transform: uppercase;
      color: #2c3e50;
      margin-bottom: 5px; }
    #specials .description p {
      color: #8293a4; }
  #specials .packages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px; }
    #specials .packages .package {
      border-radius: 5px;
      padding: 5px;
      width: 300px;
      border: 1px solid #eeeeee;
      background: #eeeeee;
      margin: 0 15px;
      height: 260px;
      transition: all ease .3s; }
      #specials .packages .package .img-container {
        height: 80%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        #specials .packages .package .img-container img {
          min-width: 100%;
          min-height: 100%;
          position: absolute; }
          #specials .packages .package .img-container img.tall {
            width: 100%;
            height: auto; }
          #specials .packages .package .img-container img.wide {
            height: 100%;
            width: auto; }
      #specials .packages .package .details {
        padding: 10px;
        height: 20%;
        width: 100%; }
        #specials .packages .package .details p {
          font-size: 16px;
          color: #8e8e8e; }
          #specials .packages .package .details p:first-child {
            font-weight: bold; }
      #specials .packages .package:hover {
        border-color: #1dd2af;
        background: #1dd2af;
        height: 300px;
        cursor: pointer; }
        #specials .packages .package:hover .details {
          background: #2c3e50; }
          #specials .packages .package:hover .details p:first-child {
            color: white; }
  @media screen and (max-width: 1500px) {
    #specials .packages {
      width: 1000px;
      margin: 0 auto;
      flex-wrap: wrap; }
      #specials .packages .package {
        margin-bottom: 30px; } }
  @media screen and (max-width: 1000px) {
    #specials .packages {
      width: 670px; } }
  @media screen and (max-width: 700px) {
    #specials .packages {
      width: 300px; } }

#holiday-type {
  width: 100%;
  text-align: center;
  position: relative;
  height: 450px;
  overflow: hidden;
  background: url("../../img/holiday-types/cruise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  transition: all .3s linear; }
  #holiday-type .container {
    padding: 60px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
    #holiday-type .container .description h4 {
      text-transform: uppercase;
      color: white; }
    #holiday-type .container .description p {
      color: #8293a4;
      margin-top: 5px; }
    #holiday-type .container .packages {
      width: 1100px;
      margin: 60px auto 0 auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      #holiday-type .container .packages .package {
        max-width: 150px;
        max-height: 150px; }
        #holiday-type .container .packages .package .icon {
          z-index: 1;
          border: 4px solid white;
          border-radius: 50%;
          width: 150px;
          height: 150px; }
        #holiday-type .container .packages .package p {
          margin-top: 10px;
          color: #8293a4; }
        #holiday-type .container .packages .package:hover, #holiday-type .container .packages .package.selected {
          cursor: pointer; }
          #holiday-type .container .packages .package:hover .icon, #holiday-type .container .packages .package.selected .icon {
            border-color: #1dd2af; }
          #holiday-type .container .packages .package:hover p, #holiday-type .container .packages .package.selected p {
            color: #1dd2af; }
  @media screen and (max-width: 1200px) {
    #holiday-type {
      height: 700px; }
      #holiday-type .container .packages {
        width: 600px; }
        #holiday-type .container .packages .package {
          margin: 30px 15px; } }
  @media screen and (max-width: 730px) {
    #holiday-type {
      height: 1500px; }
      #holiday-type .container {
        padding: 60px 0; }
        #holiday-type .container .packages {
          width: 300px; } }

#reviews .container {
  padding-bottom: 60px; }
  #reviews .container .description {
    text-align: center;
    margin: 50px auto 30px auto; }
    #reviews .container .description h4 {
      color: #2c3e50;
      text-transform: uppercase; }
    #reviews .container .description p {
      color: #8293a4;
      margin-top: 5px; }
  #reviews .container .reviews {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; }
    #reviews .container .reviews .review {
      flex-shrink: 0;
      width: 500px;
      margin: 0 10px;
      opacity: 0.5;
      position: relative;
      border-top: 2px solid #a5b3c2; }
      #reviews .container .reviews .review.selected {
        border-top: 5px solid #1dd2af;
        opacity: 1;
        transition: all ease 1s; }
        #reviews .container .reviews .review.selected .outer {
          -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 81% 100%, 78% 90%, 0 980);
          clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 84% 101%, 78% 80%, 0 80%); }
          #reviews .container .reviews .review.selected .outer .inner {
            -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 81% 100%, 78% 80%, 0 80%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 84% 99%, 79% 80%, 0 80%); }
      #reviews .container .reviews .review .outer {
        position: relative;
        background: #a5b3c2;
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 81% 100%, 78% 90%, 0 980);
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 79% 101%, 78% 80%, 0 80%);
        transition: all ease 1s; }
        #reviews .container .reviews .review .outer .inner {
          padding: 20px;
          padding-bottom: 40px;
          position: relative;
          background: white;
          margin: 0 auto;
          width: calc(100% - 3px);
          height: calc(100% - 1px);
          -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 81% 100%, 78% 80%, 0 80%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 87% 80%, 80% 99%, 79% 80%, 0 80%);
          transition: all ease 1s; }
          #reviews .container .reviews .review .outer .inner h5 {
            color: #3ee4c4;
            margin: 3px 0; }
          #reviews .container .reviews .review .outer .inner h6.location {
            color: #a5a5a5; }

/*# sourceMappingURL=styles.css.map */
