
// Sizes
$header-height: 100px;
$main-text-container-width: 1300px;

// Colors
$theme-primary-color: #1dd2af;
$theme-secondary-color: #2c3e50;

$theme-overlay-color: rgba(44, 62, 80, 0.7);

// Fonts
h2 {
    text-transform: uppercase;
    font-size: 60px;
}
h4 {
    font-size: 30px;
}