footer {
    #copyright-footer {
        display:flex;
        justify-content: center;
        width: 100%;
        height: 100px;

        .container {
            width: $main-container-width;
            height: 100%;
            
        }

    }
}