footer {
    #copyright-footer {
        display:flex;
        justify-content: center;
        width: 100%;

        .container {
            width: $main-container-width;
            height: 100%;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ul { // Navbar
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;

                li {
                    float: left;
                    float: left;
                    list-style-type: none;
                    margin-left: 20px;

                    &:after {
                        content: " : : ";
                        margin-left: 20px;
                        color: white;
                    }

                    &:last-child:after {
                        content: "";
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        transition: all ease .3s;

                        &:hover {
                            color: $theme-primary-color;
                        }

                        &.selected {
                            color: $theme-primary-color;
                        }

                    }

                }

            } // end Navbar

            .copyright {
                margin-top: 10px;
                color: #9dafc0;
            }

            .arrow-up {
                margin-top: 30px;
                width: 0; 
                height: 0; 
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-bottom: 40px solid $theme-primary-color;
                transition: all ease .3s;

                &:hover {
                    border-bottom-color: darken($theme-primary-color, 20%);
                    cursor: pointer;
                }

            }
            
        }

    }
}