footer {
    #footer-content {
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #394c5f;

        .container {
            display: flex;
            justify-content: space-around;
            width: $main-container-width;
            height: 100%;
            padding: 50px 0;

            .content-child {
                width: 20%;

                p {
                    color: white;
                }
                
                h3 {
                    font-size: 25px;
                }

                &.newsletter { // Newsletter
                    p {
                        margin: 15px auto;
                        line-height: 25px;
                    }

                    form {

                        input[type="text"] {
                            padding: 5px;
                            border: none;
                            margin-right: 5px;
                        }
    
                        input[type="submit"] {
                            padding: 5px 10px;
                            background: $theme-primary-color;
                            color: white;
                            border: none;
                            transition: all ease .3s;
    
                            &:hover {
                                background: darken($theme-primary-color, 10%);
                                cursor:pointer;
                                padding: 5px 15px;
                                box-shadow: 3px 4px 5px rgba(0,0,0, 0.5);
                            }
    
                        }

                    }

                } // end Newsletter

                &.news { // News
                    display: flex;
                    flex-direction: column;

                    .news-content {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-top: 5px;
                        padding: 10px;
                        margin-left: -10px;
                        transition: all ease .3s;

                        &:hover {
                            background: darken($theme-secondary-color, 5%);
                            margin-left: 0;
                            cursor: pointer;
                        }

                        .img-container {
                            overflow: hidden;
                            width: 40px;
                            height: 40px;
                            border: 1px solid white;
                            padding: 5px;

                            img {
                                width: 100%;
                                height: 100%;
                            }

                        }

                        .text {
                            width: calc(100% - 50px);

                            p:first-child {
                                line-height: 20px;
                            }

                            .date {
                                font-size: 14px;
                                color: $theme-primary-color;
                                margin-top: 8px;
                            }

                        }

                    }

                } // end News

                &.tags { // Tags
                    display: flex;
                    flex-direction: column;

                    .tags-container {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 20px;

                        .tag {
                            border: 1px solid white;
                            padding: 5px 8px;
                            margin: 0 8px 8px 0;
                            transition: all ease .3s;

                            &:hover {
                                border-color: lighten($theme-primary-color, 10%);
                                color: lighten($theme-primary-color, 10%);
                                background: lighten($theme-secondary-color, 5%);
                                cursor: pointer;
                                box-shadow: 3px 4px 5px rgba(0,0,0, 0.5);
                            }

                        }

                    }

                } // end Tags

                &.address {
                    display: flex;
                    flex-direction: column;

                    .text {
                        margin-top: 15px;

                        p {
                            line-height: 28px;

                            &.email {
                                span:first-child {
                                    color: $theme-primary-color;
                                }

                                span:nth-child(even) {
                                    padding: 5px 0;
                                    transition: all ease .3s;

                                    &:hover {
                                        background: lighten($theme-secondary-color, 5%);
                                        padding: 5px;
                                        border: 1px solid $theme-primary-color;
                                        color: $theme-primary-color;
                                        box-shadow: 4px 4px 5px rgba(0,0,0, 0.5);
                                        cursor: pointer;
                                    }

                                }

                            }

                        }

                    }
                }

            }

        }

    }

}