header {
    background: white;
    .container {
        margin: 0 auto;
        width: $main-text-container-width;
        height: $header-height;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 100px;
            height: 30px;
            background: red;
        }
        .navbar nav { // Navbar
            ul {
                li {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                    }
                }
                .search {
    
                }
            }
        }
    }
}