#holiday-type {
    width: 100%;
    text-align: center;
    position: relative;
    height: 450px;
    overflow: hidden;
    background: url("../../img/holiday-types/cruise.jpeg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 0;
    .container {
        padding: 60px;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        .description {
            h4 {
                
                text-transform: uppercase;
                color: white;
            }
            p {
                color: #8293a4;
                margin-top: 5px;
            }
        }
        .packages {
            width: 65%;
            margin: 60px auto 0 auto;
            display: flex;
            justify-content: space-around;
            .package {
                max-width: 150px;
                max-height: 150px;
                .icon {
                    border: 4px solid white; // remove later
                    border-radius: 50%; // remove later
                    width: 150px; // Change width + height later when icons are found
                    height: 150px;
                }
                p {
                    margin-top: 10px;
                    color: #8293a4;
                }

                &:hover, &.selected {
                    cursor: pointer;
                    .icon {
                        border-color: $theme-primary-color;
                    }
                    p {
                        color: $theme-primary-color;
                    }
                }
            }
        }
    }
}